<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mockproject.du1.mapper.CustomerMapper">


    <!--Get List Data User Information -->
    <resultMap id="GetCustomerResultMap"
               type="com.mockproject.du1.model.Customer">
        <result property="customerId" column="customer_id"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="dob" column="dob"/>
        <result property="customerEmail" column="email"/>
        <result property="isActivated" column="is_activated"/>
        <result property="address" column="address"/>
        <result property="company" column="company"/>

    </resultMap>


    <insert id="sqlCreateCustomerInsert" parameterType="com.mockproject.du1.model.Customer">
		INSERT INTO public.customer
        (first_name, last_name, dob, email, is_activated, updated_by, created_timestapm, updated_timestapm, address, company)
        VALUES
        (#{firstName}, #{lastName}, #{dob}, #{customerEmail}, #{isActivated}, #{updateBy}, #{createTimestapm}, #{updateTimestapm}, #{address}, #{company});



	</insert>

    <select id="sqlGetCustomerByEmailSelect"
            resultMap="GetCustomerResultMap" parameterType="String">
		SELECT
		first_name,
		last_name,
	    dob,
	    email,
	    is_activated,
	    address,
	    company
		FROM
		public.customer
		WHERE
		email = #{customerEmail}
	</select>


</mapper>