<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mockproject.du1.mapper.EmailMapper">


    <!--Get List Data User Information -->
    <resultMap id="GetEmailResultMap"
               type="com.mockproject.du1.model.EmailTemplate">
        <result property="emailId" column="email_template_id"/>
        <result property="title" column="title"/>
        <result property="body" column="body"/>

    </resultMap>


    <insert id="sqlCreateEmailInsert" parameterType="com.mockproject.du1.model.EmailTemplate">
        <selectKey keyProperty="emailId" resultType="int">
            SELECT currval('"email_template_id_seq"')
        </selectKey>
        INSERT INTO public.Email
        (title,body)
        VALUES
        (#{title},#{body})
    </insert>

    <select id="sqlGetAllEmailSelect"
            resultMap="GetEmailResultMap">
		SELECT
		email_id,
		content,
		subject
		FROM
		public.Email

	</select>

    <select id="sqlGetEmailSelectById"
            resultMap="GetEmailResultMap" parameterType="INT">
		SELECT
		email_id,
		content,
		subject
		FROM
		public.Email
        WHERE
		email_id = #{id}
	</select>
    <update id="sqlEmailUpdate">
		UPDATE public.email
        SET subject=#{subject}, content=#{content}
        WHERE email_id=#{emailId}

	</update>

</mapper>