<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mockproject.du1.mapper.RolePagesMapper">
	<!--Get List All RolePages Result Map -->
	<resultMap id="GetRolePagesResultMap"
		type="com.mockproject.du1.model.RolePages">
		<result property="rolePagesId" column="role_page_id" />
		<result property="roleId" column="role_id" />
		<result property="pagesId" column="page_id" />
		<result property="updateBy" column="updated_by" />
		<result property="createTimestamp" column="created_timestamp" />
		<result property="updateTimestamp" column="updated_timestamp" />

	</resultMap>

	<!--Get List RolePages Query -->
	<select id="sqlGetRolePagesByRoleIdSelect"
		resultMap="GetRolePagesResultMap" parameterType="Integer">
		SELECT role_page_id,
		role_id, page_id, updated_by, created_timestamp,
		updated_timestamp
		FROM public.role_page
		<if test="roleId != 0 ">
			role_id = #{role_id}
		</if>

	</select>

	<!-- Check Role Pages Exist -->
	<select id="sqlCheckRolePagesExistSelect" resultType="long">

		SELECT
		COUNT(*)
		FROM public.role_page
		WHERE role_id
		= #{roleId}
		AND page_id
		=#{pageId}

	</select>

	<!-- Delete Role Pages -->
	<delete id="sqlRolePagesDelete">
		DELETE
		FROM public.role_page
		WHERE role_id
		= #{roleId}
		AND page_id =#{pageId}
	</delete>


	<!--Insert role_page Information -->
	<insert id="sqlRolePagesInsert"
		parameterType="com.mockproject.du1.model.RolePages">
		INSERT INTO public.role_page
		(page_id,role_id,updated_by,created_timestamp,updated_timestamp)
		VALUES
		(#{pageId},#{roleId},#{updateBy},#{createTimestamp}::timestamp
		without time zone,#{updateTimestamp}::timestamp without time zone)
	</insert>

</mapper>