<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mockproject.du1.mapper.RoleMapper">


	<!--Insert new record into Table User_Role -->
	<insert id="sqlCreateUserRoleInsert" parameterType="Integer">
		INSERT INTO
		public.role_detail
		(role_id,user_id)
		VALUES
		(#{roleId},#{userId})
	</insert>

</mapper>