<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mockproject.du1.mapper.UsersMapper">

	<!--Check user login -->
	<select id="sqlCheckLoginSelect" resultType="Long" parameterType="com.mockproject.du1.model.Users">

		SELECT COUNT(*)
		FROM   public.users
		WHERE  public.users.username = #{username}
		AND    public.users.password = #{password}

	</select>

	<!--Get List Data User Information -->
	<resultMap id="GetUserResultMap"
		type="com.mockproject.du1.model.Users">
		<result property="userId" column="user_id" />
		<result property="firstName" column="first_name" />
		<result property="lastName" column="last_name" />
		<result property="email" column="email" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="dob" column="dob" />
		<result property="startDate" column="start_date" />
		<result property="endDate" column="end_date" />
		<result property="tenure" column="tenure" />
		<result property="status" column="status" />
	</resultMap>

	<!--Get List Data User Information -->
	<select id="sqlGetAllUserSelect" resultMap="GetUserResultMap">

		SELECT
		user_id,
		first_name,
		last_name,
		email,
		username,
		password,
		dob,
		start_date,
		end_date,
		tenure,
		status
		FROM
		public.users

	</select>
	
	<!--Get List Data User Information By Username -->
	<select id="sqlGetUserByUsernameSelect" resultMap="GetUserResultMap" parameterType="String">

		SELECT
		user_id,
		first_name,
		last_name,
		email,
		username,
		password,
		dob,
		start_date,
		end_date,
		tenure,
		status
		FROM
		public.users
		WHERE 
		username = #{username}

	</select>

</mapper>